.header{
    display: flex;
    justify-content: space-between;
    
    background-color: cornflowerblue;
    opacity: 0.8;
    
}
.header__img{
    width: 50px;
    height: 50px;

}
.catalog__header{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 200;
    

}
.container{
    width: 1024px;
    margin-left: 50px;
    margin-right: 50px;
}
.catalog{
    background-color: rgb(160, 175, 202);
    opacity: 0.8;
    padding: 10px;
    
}
.catalog__row{
display: flex;
margin: 0 auto;
webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.catalog__field{
    color:rgb(238, 247, 245);
   font-style: solid;
    padding:10px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    width: 100px;
    webkit-box-shadow: 5px 20px 50px rgba(52, 128, 179, 0.884);
          box-shadow: 5px 20px 50px rgba(70, 152, 206, 0.705);
  border-radius: 10px;
}
.buy_button{
    font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
  border-radius: 5px;
}
.workspace{
    border: 10px solid black;
    width: 1020px;
    height: 1020px;
    background-image: url(wood.jpeg);
  
}
.row{
display: flex;    
}
.field{
    width:100px;
    height: 100px;
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(39, 12, 2);
    
    
}
.field__play{
    border: 2px solid rgb(39, 12, 2);
}
.black{
    background-image: url(redwood.jpg);
    opacity: 0.9 ;
}
.basket{
   
    width: 510px;
    margin-top: 10px;
    position: absolute;
    left: 600px;
    top: 80px;
    opacity: 0.9;
    background-color: rgb(148, 179, 219);
    border-color: darkcyan;
    border-style: solid;
    padding:10px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    webkit-box-shadow: 5px 20px 50px rgba(52, 128, 179, 0.884);
          box-shadow: 5px 20px 50px rgba(70, 152, 206, 0.705);
  border-radius: 10px;
  color:rgb(238, 247, 245);
   font-style: solid;

    

}
.basket_hide{
    display: none;
}
.basketRow{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-top: 10px;
}
.basketColumn{
    width: 500px;
    justify-content: space-between;
    margin-top: 10px;
    
}
.basket_text{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(238, 247, 245);
}
